/* -------------------------------- */
/*               FONTS              *
/* -------------------------------- */

/* ------------ MANROPE EXTRALIGHT ------------ */
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 100;
    src: url("../fonts/Manrope/Manrope-ExtraLight.woff2") format("woff2"),
        url("../fonts/Manrope/Manrope-ExtraLight.woff") format("woff"),
        url("../fonts/Manrope/Manrope-ExtraLight.otf") format("otf"),
        url("../fonts/Manrope/Manrope-ExtraLight.ttf") format("truetype");
}

/* ------------ MANROPE REGULAR ------------ */
@font-face {
    font-family: "Manrope";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Manrope/Manrope-Regular.woff2") format("woff2"),
        url("../fonts/Manrope/Manrope-Regular.woff") format("woff"),
        url("../fonts/Manrope/Manrope-Regular.otf") format("otf"),
        url("../fonts/Manrope/Manrope-Regular.ttf") format("truetype");
}

/* ------------ INTER REGULAR ------------ */
@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2"),
        url("../fonts/Inter/Inter-Regular.woff") format("woff"),
        url("../fonts/Inter/Inter-Regular.otf") format("otf"),
        url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
}