/* -------------------------------- */
/*             VARIABLES            *
/* -------------------------------- */

/* ------------ COLORS ------------ */

$color-black: #000000;
$color-light-grey: rgba(0, 0, 0, 0.25);
$color-dark-grey: #3F3F3F;
$color-grey: rgba(231, 231, 231, 0.51);
$color-dark-turquoise: #B4C6C1;
$color-regular-turquoise: #B8EFE5;
$color-bright-turquoise: #BBFFEF;
$color-medium-turquoise: #C0E9DF;
$color-light-turquoise: #DFEEEB;
$color-white: #FFFFFF;
$color-red: #e72e2e;